{% extends 'base/template.html' %}
{% load static %}

{% block content %}
<div class="row">
  <div class="col-lg-8">
    <h2>Items</h2>
    {% for item in items %}
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ item.name }}</h5>
        <p class="card-text">{{ item.description }}</p>
        <p class="card-text">{{ item.price }} USD</p>
        <form method="POST" action="{% url 'add-to-order' item.id %}">
          {% csrf_token %}
            <input type="hidden" name="item_id" value="{{ item.id }}">
            <input class="btn btn-success" type="submit" value="Add to Order">
        </form>
      </div>
    </div>
    {% endfor %}
  </div>
  <div id="order" class="col-lg-4" >
    <h2>Order</h2>
    {% if order %}
    <ul id="order-list" class="list-group mb-3">
      {% for item in order.items.all %}
      <li class="list-group-item d-flex justify-content-between lh-sm">
        <div>
          <h6 class="my-0">{{ item.name }}</h6>
          <small class="text-muted">{{ item.description }}</small>
        </div>
        <span class="text-muted">{{ item.price }} USD</span>
        <form action="{% url 'remove-from-order' item.id %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="item_id" value="{{ item.id }}">
          <input class="btn btn-success" type="submit" value="Remove">
        </form>
      </li>
      {% endfor %}
      {% if order.discount %}
      <li class="list-group-item d-flex justify-content-between bg-light">
        <div class="text-success">
          <h6 class="my-0">{{ order.discount.name }} discount</h6>
          </div>
        <span class="text-success">-{{order.discount.value}}%</span>
      </li>
      {% endif %}
      {% if order.tax %}
      <li class="list-group-item d-flex justify-content-between">
        <span>Tax </span>
        <span class="text-muted">{{ order.tax.value }}%</span>
      </li>
      {% endif %}
      <li class="list-group-item d-flex justify-content-between">
        <span>Total (USD)</span>
        <strong id="order-total" >{{ order.total_price }}</strong>
      </li>
    </ul>
    {% else %}
    <p>No items in order.</p>
    {% endif %}

    <div>
      <div class="bg-light p-3">
        <h4>Select discount:</h4>
          {% for discnt in discount %}
          <div class="d-flex justify-content-between align-items-center my-2">
            <strong>{{ discnt.name }} ({{ discnt.value }}% off)</strong>
            <form action="{% url 'apply-discount' discnt.id %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="discount_id" value="{{ discnt.id }}">
              <input class="btn btn-warning mt-2" type="submit" value="Apply Discount">
            </form>
          </div>
          {% endfor %}
      </div>
    </div>
  </div>


</div>
{% endblock content %}

{% block extra_scripts %}
{% endblock extra_scripts %}
